* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --stone600: #5f574e;
    --stone900: #302d2c;
    --brown800: #854632;
    --rose800: #7b284f;
    --rose50: #fff5fa;
}

body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: var(--rose50);
}