*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #ffffff;
    --stone100: #f3e6d8;
    --stone150: #e4ded8;
    --stone600: #5f574e;
    --stone900: #302d2c;
    --brown800: #854632;
    --rose800: #7b284f;
    --rose50: #fff5fa;

    --cardwidth: max(23.4375rem, 20rem + 40vw);
}

body {
    display: flex;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--stone100);
}

h1,
h2 {
    font-family: "Young Serif", serif;
    font-weight: 400;
}

h2 {
    font-size: 1.8rem;
    color: var(--brown800);
}

h4,
span,
li {
    color: var(--stone600);
}

.card {
    display: flex;
    flex-direction: column;
    background: var(--white);
    font-family: Outfit, sans-serif;
    width: clamp(23.4375rem, 20rem + 40vw, 100vw);
    gap: min(5.9vw, 1.86rem);
    border-radius: min(2rem);
    margin: clamp(0.5rem, 0.2rem + 4vw, 4rem) 0;
    transition: 0.3s;
}

.card .img {
    padding: min(8.3vw, 2rem) min(8.3vw, 2rem) 0 min(8.3vw, 2rem);
    width: 100%;
    transition: 0.3s;
}

.card img {
    width: 100%;
    border-radius: min(3.15vw, 0.7rem);
    transition: 0.3s;
}

.card .txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 min(8.3vw, 2rem);
    transition: 0.3s;
}

.card h1 {
    color: var(--stone900);
    font-size: 2rem;
}

.card p {
    color: var(--stone600);
    font-size: 1rem;
}

.headtxt {
    display: flex;
    flex-direction: column;
    gap: min(3.15vw, 1rem);
    padding:0 0 min(8.3vw, 2rem) 0;
}

.prep {
    display: flex;
    flex-direction: column;
    gap: min(3.15vw, 1rem);
    padding: min(4.15vw, 1.25rem);
    background: var(--rose50);
    border-radius: min(20%, 1.5rem);
    width: 100%;
}

.prep ul {
    display: flex;
    flex-direction: column;
    gap: min(3.15vw, 1rem);
    padding: 0 min(3.15vw, 1rem);
    list-style-position: inside;
}

.prep ul li::marker {
    color: var(--brown800);
}

.bold {
    font-weight: 700;
}

.prep h3 {
    color: var(--rose800);
}

.prep span {
    color: var(--stone600);
}

.ingred {
    display: flex;
    flex-direction: column;
    gap: min(6.3vw, 1rem);
    width: 100%;
    padding: min(8.3vw, 2rem) 0;
    border-bottom: 0.01rem solid var(--stone150);
}

.ingred ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: min(3.15vw, 0.5rem);
    padding: 0 min(3.15vw, 1rem);
    list-style: inside;
}

.ingred ul li::marker {
    color: var(--brown800);
}

.inst {
    display: flex;
    flex-direction: column;
    gap: min(3.15vw, 1rem);
    padding: min(8.3vw, 2rem) 0;
    border-bottom: 0.01rem solid var(--stone150);
}

.inst ol {
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    gap: min(2.075vw, 0.5rem);
    padding: 0 min(3.15vw, 1rem);
}

.inst ol li {
    line-height: 1.6rem;
}

.inst ol li::marker {
    color: var(--brown800);
    font-weight: 700;
}

.nut {
    display: flex;
    flex-direction: column;
    gap: min(3.15vw, 1rem);
    width: 100%;
    padding: min(8.3vw, 2rem) 0;
}

.nut .table {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-content: center;
    justify-content: center;
    width: 100%;
}

.table span {
    border-bottom: solid var(--stone150) 0.1rem;
    padding: min(3.15vw, 1rem) min(8.3vw, 2rem);
}

.table span:nth-child(7),
.table span:nth-child(8) {
    border: none;
}

.table .value {
    color: var(--brown800);
    font-weight: 700;
}

@media (max-width:35.75rem) {
    .card{
        padding: 0;
        border-radius: 0;
        margin: 0;
        width: 100%;
    }
    
    .card .txt {
        width: 100%;
    }

    .card .img {
        padding: 0;
    }

    .card .img img {
        border-radius: 0;
    }
}